<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Epic Game</title>
</head>

<body>

<div class="title" id="title">TURTLE GARDEN</div>

<div class="menuhelp" id="menuhelp">
    <button>[M]ENU</button>
    <button>[S]CORE</button>
    <button>[P]LAY</button>
</div>
<div class="players" id="players">
    <p>PLAYER :</p><br><br>
    <select id="myselect"></select>
</div>

<div class="sound " id="sound">
    <p>MUSIC</p>
    <button><img src="/media/sound.OFF.png" alt="sound-off"></button>
<!--    <button onclick="soundON()">&emsp;OFF&emsp;</button>-->
</div>

<div class="menu menuhelp" id="menu">
    <button onclick="playGame()">&ensp;&emsp;PLAY&ensp;&emsp;</button>
    <br><br><br>
    <button onclick="getData('score')">&emsp;SCORES&emsp;</button>
    <br><br><br>
    <button onclick="howtoplay()">&emsp;HOW TO PLAY&emsp;</button>
</div>


<div id="scorelist" class="scorelist"></div>

<div id="instructions" class="instructions">
    <ul id="listhowto">
        <li>Help the turtle to build its garden !<br><br><br></li>
        <li>PRESS ENTER/Z TO START/PAUSE<br><br><br></li>
        <li>PRESS SPACE/J TO JUMP</li>
    </ul>
</div>


<div id="game">
    <div class="lifebox">
        <div class="life" id="life1"><img src="tortue-pixel/tortue_head.png" width="50px" alt="turtle-head"></div>
        <div class="life" id="life2"><img src="tortue-pixel/tortue_head.png" width="50px" alt="turtle-head"></div>
        <div class="life" id="life3"><img src="tortue-pixel/tortue_head.png" width="50px" alt="turtle-head"></div>
    </div>
    <div class="score" id="score"></div>
    <div id="character"></div>
    <div id="block"></div>
</div>

<div class="gameover" id="gameover"><br><br></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="script.js"></script>
</html>