* {
    padding: 0;
    margin: 0;
}
html {
    background-image: url("media/backgroung_montain.jpg");
}
ul {
    list-style-type: none;
}

#game {
    display: none;
    width: 890px;
    height: 500px;
    border: 20px solid brown;
    margin: 60px auto;
    background-image: url("media/backgroung_forest.jpg");
    background-size: cover;
    position: relative;
}

#character {
    width: 88px;
    height: 100px;
    position: absolute;
    bottom: 1px;
    left: 50px;
    background-size: cover;
}

.run {
    animation: run 0.7s infinite;
}

.jump {
    animation: jump 1300ms;
}

.dead {
    animation: dead 800ms;
}

@keyframes run {
    0% {background-image: url("tortue-pixel/tortue_1.png");
    }
    33% {background-image: url("tortue-pixel/tortue_2.png");
    }
    66% {background-image: url("tortue-pixel/tortue_3.png");
    }
    100% {background-image: url("tortue-pixel/tortue_1.png");
    }
}

@keyframes jump {
    0% {
        bottom: 1px;
        background-image: url("tortue-pixel/tortue_5.png");
    }
    20% {
        bottom: 80px;
        background-image: url("tortue-pixel/tortue_6.png");
    }
    40% {
        bottom: 100px;
        background-image: url("tortue-pixel/tortue_7.png");
    }
    60% {
        bottom: 20px;
        background-image: url("tortue-pixel/tortue_7.png");
    }
    90% {
        bottom: 10px;
        background-image: url("tortue-pixel/tortue_8.png");
    }
    100% {
        bottom: 1px;
        background-image: url("tortue-pixel/tortue_8.png");
    }
}

@keyframes dead {
    0% {
        transform : rotate(0deg);
        bottom: 1px;
        background-image: url("tortue-pixel/tortue_dead.png");
    }
    45% {
        /*transform : rotate(360deg);*/
        bottom: 175px;
        background-image: url("tortue-pixel/tortue_dead.png");
    }
    100% {
        transform : rotate(360deg);
        bottom: 1px;
        background-image: url("tortue-pixel/tortue_dead.png");
    }
}

.loseLife {
    animation: lostLife 1500ms;
}

@keyframes lostLife {
    0%    {opacity:0; }
    20%   {opacity:1; }
    40%   {opacity:0; }
    60%   {opacity:1; }
    80%   {opacity:0; }
    100%   {opacity:1; }
}

#block {
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 1px;
}

.moving {
    display: block;
    animation: block 3s infinite linear;
}

@keyframes block {
    0% {  left: 900px;    }
    100% {left: -20px;    }
}

.score {
    margin-left: 245px;
    margin-top: 10px;
    position: absolute;
    top : 1px;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    font-size: larger;
    color: #9f0303;
}
.lifebox {
    position: absolute;
    display: flex;
    align-items: center;
    top: 5px;
    height: 70px;
    width: 180px;
    background-image: url("media/pixel-art-speech-balloon-reset-button-pixel.CLEAN.png");
    background-size: cover;
}
.life {
    width: 60px;
    text-align: center;
}
.gameover {
    position: relative;
    font-weight:bolder;
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
    margin:200px auto;
    text-align: center;
    display: none;
}
.gameover p {
    animation: playagain 3000ms infinite;
}
@keyframes playagain {
    0% {opacity : 0}
    25% {opacity: 1}
    50% {opacity: 0}
    75% {opacity: 1}
    100% {opacity : 0}
}
.title {
    position: relative;
    font-weight:bolder;
    font-size: xx-large;
    color: #9f0303;
    font-family: 'Press Start 2P', cursive;
    margin: 30px auto;
    text-align: center;
}
.menu {
    display: block;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    margin:200px auto;
    text-align: center;
    width: fit-content;
}
#menuhelp {
    margin: auto;
    text-align: center;
    position: relative;
}
.menuhelp button {
    font-family: 'Press Start 2P', cursive;
    height: 28px;
    color: darkgreen;
}
.scorelist {
    display: none;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    margin:200px auto;
    text-align: center;
    border: 20px solid brown;
    width: fit-content;
    padding: 30px;
    background-color: rgba(245, 189, 39, 0.5);
}

.scorelist mark {
    list-style-type: none;
    font-size: x-large;
    color: darkgreen;
}
.instructions {
    display: none;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    margin:200px auto;
    text-align: center;
    border: 20px solid brown;
    padding: 40px 40px 40px 40px;
    width: fit-content;
    height: 250px;
    background-color: rgba(245, 189, 39, 0.5);
}
.sound {
    width: fit-content;
    right: 100px;
    position: absolute;
    font-weight:bolder;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    text-align: center;
}
.sound img {
    width: 35px;
}
.players select {
    width: fit-content;
    position: absolute;
    font-weight:bolder;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    left: 100px;
    text-align: center;
}
.players p {
    width: fit-content;
    position: absolute;
    font-weight:bolder;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    left: 100px;
    text-align: center;
}